<h2 mat-dialog-title>{{ 'WBID.PROPERTIES.TABLE.HISTORY_ALL' | translate }}</h2>
<mat-dialog-content *ngIf="data.length > 0; else noHistory">
  <div><b>{{ 'WBID.PROPERTIES.TABLE.HISTORY_LATEST' | translate }}:</b></div>

  <div *ngFor="let record of data" class="history-record">
    <div>
      <b>{{'WBID.PROPERTIES.TABLE.HISTORY_DATE' | translate}} :</b>
      {{record.date | date:'dd.MM.yyyy HH:mm:ss zz'}}
    </div>
    <div>
      <b>{{'WBID.PROPERTIES.TABLE.HISTORY_USER' | translate}}:</b>
      {{record.user}}
    </div>
    <div>
      <b>{{'WBID.PROPERTIES.TABLE.HISTORY_CHANGE' | translate}}:</b>
      {{record.event}}
    </div>
    <div>
      <b>{{'WBID.PROPERTIES.TABLE.HISTORY_BIDDERS' | translate}}:</b>
      {{record['bidders'].join()}}
    </div>
    <div>
      <b>{{'WBID.PROPERTIES.TABLE.HISTORY_ADDONS' | translate}}:</b>
      {{record['addons'].join()}}
    </div>
  </div>
</mat-dialog-content>

<ng-template #noHistory>
  <div>{{'WBID.PROPERTIES.TABLE.NO_HISTORY' | translate}}</div>
</ng-template>
<mat-dialog-actions align="end">
  <button mat-button mat-stroked-button color="primary" (click)="downloadCsvChangelog(data, data[0]['config_id'])" *ngIf="data.length">
    {{'WBID.PROPERTIES.TABLE.DOWNLOAD_CSV' | translate}}
  </button>
  <button mat-button mat-dialog-close mat-stroked-button color="warn">{{ 'WBID.PROPERTIES.TABLE.CLOSE' | translate }}</button>
</mat-dialog-actions>
