<mat-card-content
  fxLayout="column" fxFlex="100"
  fxLayoutAlign="start center"
>
  <div id="info"></div>
  <div id="buttons" class="full-width">
    <button color="primary" mat-raised-button (click)="getPartners('SSP')">
      Get SSP
    </button>
    <button color="primary" mat-raised-button (click)="getPartners('DSP')">
      Get DSP
    </button>
  </div>
  <div id="table-container" *ngIf="tableSource" class="full-width" fxLayout="column">
    <mat-form-field class="full-width">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="search value"/>
    </mat-form-field>
    <div id="table" fxFlex="100" class="full-width">
      <table mat-table [dataSource]="tableData" class="mat-elevation-z0 full-width">
        <ng-container *ngFor="let column of displayedColumns | slice: 0: 4">
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>
              {{ column }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
          </ng-container>
        </ng-container>
        <ng-container matColumnDef="generateEndpoint">
          <th mat-header-cell *matHeaderCellDef> Endpoint</th>
          <td mat-cell *matCellDef="let element; let row">
            <button mat-icon-button color="primary">
              <mat-icon (click)="generateEndpoint(row)">add_link</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</mat-card-content>
