.w-100 {
  width: 100%;
}

.versions-popup-form__description {
  min-height: 200px;
  max-height: 200px;
}

@media all and (max-width: 500px) {
  .versions-popup-form__description {
    height: 111vw;
  }
}
