# Ignore artifacts:
node_modules
server
package-lock.json
view/dist
view/node_modules
view/cypress
view/src/environments/*
view/src/assets/**/*
view/package-lock.json
view/Dockerfile
view/README.md
view/bitbucket-pipelines.yml
view/default.conf
view/debug.log
view/karma.conf.js
view/protractor.conf.js
view/**/*.ico
view/src/index.html
view/src/tsconfig.app.json
view/src/tsconfig.spec.json
view/src/app/shared/services/socket.service.ts
view/src/**/*.spec.ts
view/src/app/shared/interfaces/**/*
view/src/**/*.scss
view/tsconfig.json
view/angular.json
bitbucket-pipelines.yml
default.conf
Dockerfile
Dockerfile_staging
old_bitbucket-pipelines.yml