<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList aria-label="Adapter selection">
    <mat-chip
      *ngFor="let adapter of analyticsAdapters"
      (click)="checkOptions(adapter) ? setAnalyticsSettings(adapter) : false"
      [selectable]="selectable"
      [removable]="removable"
      [matTooltip]="checkOptions(adapter) ? ('WBID.PROPERTIES.PLACEMENTS.REQUIRED_SETTINGS_TIP' | translate) : ''"
      matTooltipPosition="below"
      (removed)="remove(adapter)"
      class="chip-selected"
    >
      <mat-icon style="height: 16px; width: 16px; font-size: 16px" *ngIf="checkOptions(adapter)">keyboard_arrow_down </mat-icon>
      {{ adapter }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      [placeholder]="'WBID.PROPERTIES.PLACEMENTS.ANALYTICS_SELECT' | translate"
      #adapterInput
      matInput
      [disabled]="mainFormDisabled"
      [formControl]="analyticsControl"
      [matAutocomplete]="auto"
      [matAutocompleteDisabled]="mainFormDisabled"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
      (click)="openPanel($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let adapter of filteredAnalyticsAdapters | async" [value]="adapter">
      {{ adapter }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
