.less-height-for-row {
  min-height: 30px;
}
.less-height-for-header-row {
  min-height: 35px;
}
.flex-for-second-child {
  flex-grow: 0.5;
  text-align: center;
}
.flex-for-second-child-header {
  flex-grow: 0.5;
}
.flex-for-second-child-header::after {
  content: '($)';
}

.deduction-list {
  max-height: 16rem;
  overflow: auto;
  scrollbar-width: thin;
}

// .deduction-list::-webkit-scrollbar {
//   -webkit-appearance: none;
//   width: .5rem;
// }

// .deduction-list::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(0, 0, 0, .4);
//   box-shadow: 0 0 1px rgba(255, 255, 255, .5);
// }

// .deduction-list::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
//   border-radius: 4px;
// }


@media only screen and (min-width: 960px) and (max-width: 970px) {
  mat-card-title {
    font-size: 0.75rem !important;
  }
  mat-cell,
  mat-header-cell {
    padding: 0 5px !important;
    font-size: 0.7rem;
    flex-grow: 0.7;
  }
  mat-row {
    min-height: 20px !important;
  }
  mat-header-row {
    min-height: 25px !important;
  }
}
