<div class="mat-color-accent mb-1">Permissions</div>

<div class="mb-1" fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-sm="100">
    <button mat-raised-button class="mat-accent mr-1" (click)="managePermissions()" *ngIf="!showManagePermissions">Manage Permissions</button>
    <button mat-raised-button class="mat-warn mr-1" (click)="showManagePermissions = false" *ngIf="showManagePermissions">Close</button>

    <button
      mat-raised-button
      class="mat-accent"
      [disabled]="!managingPermisions.valid || !arrayofRolesToSend.length > 0"
      *ngIf="showManagePermissions"
      (click)="sendPermissionsToServer()"
    >
      Send To Server
    </button>
  </div>
</div>

<mat-card>
  <div *ngIf="showManagePermissions">
    <form [formGroup]="managingPermisions">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="wrap" fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="stretch">
        <section fxFlex="20" fxFlex.lt-md="100">
          <mat-form-field class="full-width">
            <input matInput formControlName="name" [(ngModel)]="permissionName" placeholder="Input permission Name" />
            <mat-error
              *ngIf="managingPermisions.controls['name'].hasError('minlength') && managingPermisions.controls['name'].touched"
              class="form-error-msg"
              >{{ 'SETTINGS_PERMISSIONS.ERRORS.MINLENGTH' | translate }}</mat-error
            >
            <mat-error *ngIf="managingPermisions.get('name').hasError('unique')">{{ 'SETTINGS_PERMISSIONS.ERRORS.UNIQUE' | translate }}</mat-error>
            <mat-error *ngIf="managingPermisions.get('name').hasError('required')">{{ 'SETTINGS_PERMISSIONS.ERRORS.REQUIRED' | translate }}</mat-error>
          </mat-form-field>
        </section>

        <section fxFlex="20" fxFlex.lt-md="100">
          <mat-form-field class="full-width">
            <input matInput formControlName="description" [(ngModel)]="description" placeholder="Input description" />
            <mat-error
              *ngIf="managingPermisions.controls['description'].hasError('minlength') && managingPermisions.controls['description'].touched"
              class="form-error-msg"
            >
              {{ 'SETTINGS_PERMISSIONS.ERRORS.MINLENGTH' | translate }}
            </mat-error>
            <mat-error
              *ngIf="managingPermisions.controls['description'].hasError('maxlength') && managingPermisions.controls['description'].touched"
              class="form-error-msg"
            >
              {{ 'SETTINGS_PERMISSIONS.ERRORS.MAXLENGTH' | translate }}
            </mat-error>
            <mat-error *ngIf="managingPermisions.get('description').hasError('required')">{{ 'SETTINGS_PERMISSIONS.ERRORS.REQUIRED' | translate }}</mat-error>
          </mat-form-field>
        </section>

        <section fxFlex="20" fxFlex.lt-md="100">
          <mat-form-field fxFlex.lt-md="100">
            <input matInput placeholder="Type" [matAutocomplete]="auto" formControlName="types" />
            <mat-error *ngIf="managingPermisions.get('types').hasError('required')">{{ 'SETTINGS_PERMISSIONS.ERRORS.REQUIRED' | translate }}</mat-error>
          </mat-form-field>

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-autocomplete>
        </section>

        <section fxFlex="35" fxFlex.lt-md="100">
          <mat-card>
            <div *ngFor="let role of roleList; let i = index">
              <mat-checkbox (click)="addRoleToSend(role.name, i, checkbox)" #checkbox value="role.name" [checked]="false" color="primary">
                {{ role.name }}
              </mat-checkbox>
            </div>
          </mat-card>
        </section>
      </div>
    </form>
  </div>

  <ngx-datatable
    class="material fullscreen bg-white"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="0"
    [rowHeight]="'auto'"
    [scrollbarV]="false"
    [scrollbarH]="true"
    [rows]="rows"
  >
    <ngx-datatable-column [minWidth]="260" [maxWidth]="270" name="Name">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{ column.name }}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [minWidth]="270" [maxWidth]="300" name="Description">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{ column.name }}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [minWidth]="75" [maxWidth]="85" name="Type">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{ column.name }}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [minWidth]="185" name="Name" *ngIf="showManagePermissions">
      <ng-template let-column="column" ngx-datatable-header-template> Action </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <button mat-raised-button class="mat-warn" (click)="deletePermission(value)">Delete Permission</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</mat-card>
