.version {
  position: absolute;
  right: 20px;
  bottom: 0;

  button {
    cursor: pointer;
    z-index: 1;
  }
}

.versions-popup-loading-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.32);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .loader {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 70%;
  }
}