.buttons-panel {
  background: red;
}

.mat-chip-domains {
  span {
    margin-right: 20px;
    line-height: 18px;
  }
  .mat-icon {
    position: fixed;
    right: 5px;
  }
}

.loader {
  width: 100%;
}
