.flex-for-three-charts {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  flex-flow: row wrap;
}
.flex-for-four-charts {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  flex-flow: row wrap;
}
.flex-for-three-charts_item {
  max-width: 33%;
  flex: 1 1 33% !important;
}
.flex-for-four-charts_item {
  max-width: 50%;
  flex: 1 1 50% !important;
}
