$breakpoint-phone: 576px;

.example-chip-list {
  width: 100%;
}

#adapter-additional-options {
  border: none;
  display: flex;
  justify-content: space-between;
}

h5 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.adapter-settings-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adapter-settings-main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.adapter-settings-main > mat-form-field {
  margin: 0 20px 0 0;
}

.adapter-settings-details-container {
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-between;
}

.adapter-settings-details {
  &.first-row {
    width: 75%;
  }

  &.second-row {
    width: 25%;
  }
}

#adapter-settings {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  width: 100%;
}

h2 {
  margin-top: 8px;
}

.mat-chip {
  display: inherit;
}

::ng-deep mat-chip-list mat-chip.chip-selected {
  background-color: #396673 !important;
  color: #fff !important;
}

mat-chip-list mat-chip.chip-selected mat-icon {
  color: #fff !important;
}

h5 {
  font-size: 0.9rem;
  font-weight: 400;
}

::ng-deep .mat-expansion-panel-body > button {
  text-transform: none !important;
}

@media (max-width: $breakpoint-phone) and (min-width: 300px) {
  ::ng-deep .first-row {
    width: 50% !important;
  }

  ::ng-deep .second-row {
    display: none;
  }

  ::ng-deep .mat-expansion-panel-body {
    font-size: 0.8rem;
    line-height: 16px;
    font-weight: 400;
  }

  ::ng-deep .mat-expansion-panel-body > div {
    margin: 0 !important;
  }

  ::ng-deep .mat-expansion-panel-body > button {
    margin: 0 !important;
    font-size: 0.8rem;
    line-height: 16px;
    font-weight: 400;
    width: 100%;
    padding: 0;
  }

  ::ng-deep .adapter-settings-main {
    flex-direction: column !important;
  }

  mat-form-field,
  ::ng-deep label,
  ::ng-deep mat-select,
  ::ng-deep body .mat-select-trigger {
    font-size: 0.8rem !important;
  }

  #adapter-additional-options {
    flex-direction: column;
  }

  .mat-option {
    height: 32px;
    line-height: 32px;
  }

  ::ng-deep mat-dialog-content {
    font-size: 0.8rem !important;
  }
  mat-chip {
    min-height: 32px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
}
