.h_20vh {
  height: 20vh;
}

.card-permissions-role {
  min-width: 15rem;
  overflow: visible;
}
.permissions-list {
  overflow: auto;
}

.chip-permissions {
  height: 100%;
  border: 1px solid rgba(244, 67, 54, 0.5);
}
.column-name {
  display: inline-block;
  margin-right: 2px;
}
