.mat-cell-photo {
  border-radius: 50%;
  max-height: 70px;
  margin: 5px 10px 5px;
  box-shadow: 1px -1px 5px rgba(10, 10, 10, 0.6);
  cursor: default;
}
.right-border-cell {
  border-right: 0.5px solid rgba(160, 160, 160, 0.8);
  display: flex;
  justify-content: space-between;
  align-self: stretch;

  p {
    max-width: 60%;
  }

  img {
    min-width: 20%;
  }
}
.right-border-header {
  margin-left: 15px;
  padding-left: 0 !important;
}
.right-column-cell {
  flex-flow: row wrap;
  .mat-chip-list-self-styles {
    margin: 1px 5px 1px 0px;
    flex-flow: row wrap;
  }
}
.slide-toggle-ena-dis-pubs {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 2px 5px;
  position: absolute;
  right: 16px;
}

.color-for-tooltip-title {
  background-color: rgba(12, 90, 98, 0.7) !important;
  font-size: 1rem;
  font-weight: 400;
}

.opacity-without-manager {
  opacity: 0.83;
  transition-property: all !important;
  &:hover {
    opacity: 1;
  }
}

@media only screen and (max-width: 1023px) {
  .right-border-cell {
    justify-content: center;
    padding: 0px 10px 0px 10px !important;
    flex-flow: column-reverse wrap;
    p {
      font-size: 0.7rem;
      text-align: -moz-center;
      text-align: center;
      max-width: 100%;
    }
    img {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
