#content div {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: center;

  input {
    width: 75%;
  }

  p {
    display: block;
    margin: 10px;
    font-weight: bold;
  }

  button {
    height: 100%;
  }

  mat-icon {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}
